/* Base styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/* Hide scrollbar but keep functionality */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* SVG container styling */
svg {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Scrolling element for animation */
.scroll-element {
  position: absolute;
  height: 3000px; /* Controls how much scrolling we need */
  width: 100px;
  top: 0;
  z-index: 0;
}

/* Fullscreen button styling */
#fullscreen-btn {
  position: fixed;
  bottom: 5%;
  right: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.7em;
  background-color: transparent;
  color: #ffffff;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 11;
}

#fullscreen-btn:hover {
  background: #ffffff;
  color: #1b1734;
}
